/* ドラッグエリア */
.drag-area {
  -webkit-app-region: drag;
}

/* タイトルバー */
.title-bar {
  text-align: right;
}

/* セレクトボックス */
.select {
  font-size: 75%;
  text-align: center;
}

.select select {
  -webkit-app-region: no-drag;
  background: #1c1c1c;
  color: #faf8f7;
  cursor: pointer;
  border: none;
  outline: none;
}

.select ::-webkit-scrollbar {
  width: 10px;
}

.select ::-webkit-scrollbar-track {
  background: #1c1c1c;
}

.select ::-webkit-scrollbar-thumb {
  background: #faf8f7;
}

/* シークバー */
.seek-bar {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 70%;
  text-align: center;
}

.input-range[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #faf8f7;
  overflow: hidden;
  outline: none;
  width: 70%;
  height: 5px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #b10624;
  width: 0px;
  height: 0px;
  box-shadow: -100vw 0 0 100vw #b10624;
}

/* 再生時間  */
.time {
  font-size: 10px;
}

/* ボタン */
input[type='image'] {
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: pointer;
  outline: none;
}

.control {
  text-align: center;
}

.play-control {
  margin-left: 20px;
  margin-right: 20px;
}

.play-control input[type='image'] {
  margin-left: 2px;
  margin-right: 2px;
}
