input {
  -webkit-app-region: no-drag;
  cursor: pointer;
  outline: none;
}

.drag-area {
  -webkit-app-region: drag;
}

.title-bar {
  text-align: right;
}

.select {
  font-size: 75%;
  text-align: center;
}

.select select {
  -webkit-app-region: no-drag;
  background: #1c1c1c;
  color: #faf8f7;
  cursor: pointer;
  border: none;
  outline: none;
}

.select ::-webkit-scrollbar {
  width: 10px;
}

.select ::-webkit-scrollbar-track {
  background: #1c1c1c;
}

.select ::-webkit-scrollbar-thumb {
  background: #faf8f7;
}

.select input {
  width: 40px;
  background: #1c1c1c;
  color: #faf8f7;
  border: none;
  outline: none;
}

.select ::-webkit-outer-spin-button,
.select ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.seek-bar {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 70%;
  text-align: center;
}

.input-range[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #faf8f7;
  overflow: hidden;
  outline: none;
  width: 65%;
  height: 5px;
  border-radius: 10px;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #b10624;
  width: 0px;
  height: 0px;
  box-shadow: -100vw 0 0 100vw #b10624;
}

.control {
  text-align: center;
}

.play-control {
  margin-left: 30px;
  margin-right: 30px;
}
